# IDE
.idea/
.vs/
.vscode/

# Foundry
*.lock
jsconfig.json
foundry

./TODO

# exclude distribution
dist/
css/

# dont commit pack binaries, but src
packs/*
!packs/src

# only for test local scripts
scripts/test-scripts
/.agent/docs/
