<div class="S0-page S0-container">
  <label class="S0-block" for="{{item.id}}.description">
    {{localize 'S0.Descricao'}}:
  </label>
  <textarea class="S0-resize-none S0-mt-5" id="{{item.id}}.description" name="system.description" maxlength="150" rows="5">{{itemValues item 'description'}}</textarea>
</div>