<div class="S0-page S0-container">
  <label for="{{item.id}}.description" style="display: block;">
    {{localize 'S0.Descricao'}}:
  </label>
  <textarea id="{{item.id}}.description" style="resize: none; margin-top: 5px;" name="system.description"
    maxlength="150" rows="5">{{itemValues item 'description'}}</textarea>
</div>