{{#if canUseConsciousness}}
<button class="S0-roll-result S0-blue" data-action="check" data-type="consciousness">
  {{localize 'S0.Usar_Consciencia'}}
  ( <i class="fas fa-comments-question-check"></i> )
</button>
{{/if}}