/* #region MESSAGE*/
.S0-message-content h4 {
  font-size: var(--font-size-20);
}

.S0-message-content .dice-rolls {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  row-gap: 6px;
}

.S0-message-content button:disabled {
  cursor: default;
  color: var(--on-color-gray-alternate);
  background-color: var(--color-gray-alpha);
  text-shadow: none;
  box-shadow: none;
  border: none;
}

.S0-message-content p {
  margin-block: 0.4rem;
}

.S0-message-content .S0-container-2-column label {
  display: block;
  text-align: center;
}

.S0-message-simple-text {
  font-family: var(--font-monospace);
  text-align: justify;
  margin: 4px;
  padding: 6px;
  border: var(--border-medium) solid var(--color-black-alpha-50);
  border-radius: 4px;
  background: var(--secondary-color-alpha);
  text-shadow: none;
  line-height: 1.3;
}

.S0-message-weapon-container {
  background-color: var(--secondary-color-alpha-50);
  margin: 10px;
  padding: 2px 6px;
  border: var(--border-thin) solid var(--primary-color-alpha-50);
  border-radius: 6px;
  box-shadow: 0px 0px 3px 0px var(--primary-color);
}

.S0-message-weapon-container label {
  display: block;
}

.S0-d10 {
  filter: drop-shadow(0px 0px 3px var(--color-black)) sepia(1);
}

.S0-d10-small {
  background-size: var(--d10-size-small);
  height: var(--d10-size-small);
  width: var(--d10-size-small);
  line-height: var(--d10-small-line-height);
  font-size: var(--font-size-15);
}

.S0-d10-overload {
  filter: drop-shadow(0px 0px 3px var(--color-black)) sepia(1) hue-rotate(330deg);
}

.S0-d10-life {
  filter: drop-shadow(0px 0px 3px var(--color-black)) sepia(1) hue-rotate(70deg);
}

.S0-roll-result {
  font-family: var(--S0-font-family);
  letter-spacing: 0.1rem;
  width: 100%;
  margin: 2px 0px;
  color: var(--on-tertiary-color);
  background-color: var(--tertiary-color-alpha-50);
  border-color: var(--tertiary-color-alpha);
  border-radius: var(--border-radius-small);
  outline: none;
  box-shadow: none;
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.S0-roll-result:enabled:hover {
  color: var(--on-tertiary-color-alternate);
  background-color: var(--tertiary-color-alpha);
  border-color: var(--tertiary-color);
  outline: none;
  box-shadow: none;
}

.S0-roll-result.S0-success {
  color: var(--on-color-green);
  background-color: var(--color-green-alpha-50);
  border-color: var(--color-green-alpha);
}

.S0-roll-result.S0-success:hover {
  color: var(--on-color-green);
  background-color: var(--color-green-alpha);
  border-color: var(--color-green);
}

.S0-roll-result.S0-failure {
  color: var(--on-color-gray);
  background-color: var(--color-gray-alpha-50);
  border-color: var(--color-gray-alpha);
}

.S0-roll-result.S0-failure:hover {
  color: var(--on-color-gray);
  background-color: var(--color-gray-alpha);
  border-color: var(--color-gray);
}

.S0-roll-result.S0-critical-failure {
  color: var(--on-color-red);
  background-color: var(--color-red-alpha-50);
  border-color: var(--color-red-alpha);
}

.S0-roll-result.S0-critical-failure:hover {
  color: var(--on-color-red);
  background-color: var(--color-red-alpha);
  border-color: var(--color-red);
}

.S0-roll-result.S0-overload {
  color: var(--primary-color);
  border: dashed var(--border-medium) var(--primary-color-alpha);
}

.S0-roll-result.S0-overload:hover {
  color: var(--primary-color);
  border: dashed var(--border-medium) var(--primary-color);
}

.S0-roll-result.S0-blue {
  color: var(--on-color-blue);
  background-color: var(--color-blue-alpha-50);
  border-color: var(--color-blue-alpha);
}

.S0-roll-result:enabled.S0-blue:hover {
  color: var(--on-color-blue);
  background-color: var(--color-blue-alpha);
  border-color: var(--color-blue);
}

.S0-roll-result.S0-orange {
  color: var(--on-color-orange);
  background-color: var(--color-orange-alpha-50);
  border-color: var(--color-orange-alpha);
}

.S0-roll-result:enabled.S0-orange:hover {
  color: var(--on-color-orange);
  background-color: var(--color-orange-alpha);
  border-color: var(--color-orange);
}

.S0-roll-result.S0-red {
  color: var(--on-color-red);
  background-color: var(--color-red-alpha-50);
  border-color: var(--color-red-alpha);
}

.S0-roll-result:enabled.S0-red:hover {
  color: var(--on-color-red);
  background-color: var(--color-red-alpha);
  border-color: var(--color-red);
}

/* #endregion */