<form class="S0-actor-sheet" autocomplete="off">
  <ul id="floating-menu" class="S0-float-right-sheet">
    {{> "buttons-float-menu" canEdit=canEdit editable=editable canRoll=canRoll}}
    <li>
      <nav class="S0-sheet-tabs" data-group="menu-tabs"></nav>
    </li>
  </ul>

  {{> actorHeader}}

  <div class="S0-nav-content">
    {{> actorCharacteristic}}
    {{> actorBiography}}
    {{#if (operators 'gt' (actorValues actor 'core') 0)}}
    {{> actorEnhancement}}
    {{/if}}
    {{> actorEquipment}}
    {{> actorNetwork}}
    {{> actorStatus}}
    {{> actorShortcuts}}
    {{> actorExtras}}
  </div>
</form>