<section class="S0-page tab" data-group="menu-tabs" data-tab="extras" data-label="{{ localize 'S0.Player.Extras' }}"
  id="extrasPage" data-icon="fas fa-star">

  {{> extrasExperiencePartial}}
  {{> extrasSpecialtiesPartial}}
  {{> extrasManeuverPartial}}
  {{> extrasNotesPartial}}
</section>