<section class="S0-page tab" data-group="menu-tabs" data-tab="network" data-label="Network" id="networkPage"
  data-icon="fas fa-users">
  {{> networkPartial title='S0.Aliados' title_singular='S0.Aliado' type='allies'}}
  {{> networkPartial title='S0.Informantes' title_singular='S0.Informante' type='informants'}}
</section>