<div class="S0-message-content">
  <h4 class="S0-text-center">{{ localize 'S0.Aprimoramento.Nome' }}</h4>
  <div class="S0-container-2-fixed-column S0-items-center" style="grid-column-gap: 5px;">
    <label class="S0-text-center">{{family}}</label>
    <label class="S0-text-center">{{name}}</label>
  </div>
  <div>

  </div>
  <hr>
  <h4 class="S0-text-center">{{ status }}</h4>
</div>