<div class="S0-message-content">
  <div class="S0-block S0-font-bold">{{localize 'S0.Anotacao.Anotacao'}}</div>
  <h4>{{descricao_curta}}</h4>
  {{#if descricao_longa}}
  <div class="S0-message-simple-text S0-flex S0-wrap S0-gap-4">{{descricao_longa}}</div>
  {{/if}}
</div>