<div class="S0-dialog S0-container">
  <h3 class="S0-mb-16">{{localize 'S0.Atual'}}: {{quantity}}</h3>
  <div class="form-group">
    <label for="quantity">{{localize 'S0.Quantidade'}}:</label>
    <input id="quantity" type="number" step="1">
  </div>
</div>