<form class="S0-dialog">
  <div class="S0-container">
    <h3 style="margin-bottom: 16px;">{{localize 'S0.Atual'}}: {{quantity}}</h3>
    <div class="form-group">
      <label for="quantity">{{localize 'S0.Quantidade'}}:</label>
      <input id="quantity" type="number" step="1">
    </div>
  </div>
</form>