<form autocomplete="off">
  <div class="S0-page S0-container">
    <label class="S0-block S0-mb-6" for="effectKey">{{localize 'Efeito'}}</label>
    <select id="effectKey" name="key" class="S0-select" style="margin-bottom: 15px;">
      {{selectOptions effectsOptions}}
    </select>

    <label class="S0-block S0-mb-6" for="effectValue">{{localize 'Valor'}}</label>
    <input id="effectValue" type="number" name="value" value="1" required />
  </div>
</form>