<form autocomplete="off">
  <div class="S0-page S0-container">
    <label class="S0-block" for="effectKey" style="margin-bottom: 5px;">{{localize 'Efeito'}}</label>
    <select id="effectKey" name="key" class="S0-select" style="margin-bottom: 15px;">
      {{selectOptions effectsOptions}}
    </select>

    <label class="S0-block" for="effectValue" style="margin-bottom: 5px;">{{localize 'Valor'}}</label>
    <input id="effectValue" type="number" name="value" value="1" required />
  </div>
</form>