{{#if canUsePerseverance}}
<button class="S0-roll-result S0-orange" data-action="check" data-type="perseverance">
  {{localize 'S0.Usar_Perseveranca'}}
  ( <i class="fas fa-check-double"></i> )
</button>
{{/if}}