.S0-V2.application {
  border-radius: 6px;
}

.S0-V2.S0-content .window-header {
  border-radius: 6px 6px 0px 0px;
}

.S0-V2.S0-content .window-header .window-icon {
  color: var(--primary-color);
}

.S0-V2.S0-content .window-content {
  padding: 4px;
  border-radius: 0px 0px 6px 6px;
}

.S0-V2.S0-content .window-content,
.S0-V2.S0-content.sheet {
  overflow: visible;
}

/* #region DIALOG*/
.S0-V2 .S0-dialog :is(h1, h2, h3, h4, label, strong) {
  color: var(--primary-color);
}

.S0-V2 .S0-dialog .S0-simulate-button>* {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.S0-V2 .S0-dialog .S0-simulate-button:hover>* {
  color: var(--on-primary-color);
}

.S0-V2 .S0-dialog .S0-marked :is(h1, h2, h3, h4) {
  color: var(--on-primary-color);
}

.S0-V2 .S0-dialog .S0-infinity-horizontal-menu .S0-simulate-button h4 {
  font-size: var(--font-size-12);
}

.S0-V2 .S0-infinity-horizontal-menu .S0-simulate-button:hover h4,
.S0-V2 .S0-dialog .S0-infinity-horizontal-menu .S0-simulate-button:hover h4 {
  color: var(--on-primary-color);
}

/* #endregion */

.S0-V2.S0-content input {
  text-align: center;
}

.S0-V2.S0-content input[type="checkbox"] {
  background-color: var(--alternate-black-color);
  border-color: var(--primary-color-alpha);
}

.S0-V2.S0-content input[type="checkbox"]:hover {
  background-color: var(--primary-color-alpha);
  border-color: var(--primary-color-alpha);
  box-shadow: 0 0 6px var(--primary-color-alpha);
}

.S0-V2.S0-content input[type="checkbox"]:checked {
  background-color: var(--primary-color-alpha);
  border-color: var(--primary-color-alpha);
  box-shadow: 0 0 6px var(--primary-color-alpha);
}

.S0-V2.S0-content input[type="checkbox"]:enabled:checked:hover {
  background-color: var(--color-red-alpha);
  border-color: var(--color-red-alpha);
  box-shadow: 0 0 6px var(--color-red-alpha);
}

.S0-V2.S0-content input[type="checkbox"]:disabled {
  background-color: var(--alternate-black-color);
  border-color: var(--primary-color-alpha);
}

.S0-V2.S0-content input[type="checkbox"]:disabled:checked {
  background-color: var(--primary-color-alpha);
  border-color: var(--primary-color-alpha);
}

.S0-V2 .form-group {
  display: flex;
  align-items: center;
  margin-block: 4px;
}

.S0-V2 .S0-image-npc {
  height: 420px;
}

.S0-V2 .S0-simulate-button.S0-marked h4 {
  color: var(--on-primary-color);
}