/* Utilitários S0 (S0 Utilities) */

/* Display, Flexbox, & Grid */
.S0-flex {
  display: flex;
}

.S0-block {
  display: block;
}

.S0-inline-block {
  display: inline-block;
}

.S0-inline {
  display: inline;
}

.S0-flex-1 {
  flex: 1;
}

.S0-flex-2 {
  flex: 2;
}

.S0-flex-3 {
  flex: 3;
}

.S0-flex-col {
  display: flex;
  flex-direction: column;
}

.S0-wrap {
  flex-wrap: wrap;
}

.S0-items-center {
  align-items: center;
}

.S0-items-start {
  align-items: flex-start;
}

.S0-items-stretch {
  align-items: stretch;
}

.S0-justify-between {
  justify-content: space-between;
}

.S0-justify-center {
  justify-content: center;
}

.S0-justify-around {
  justify-content: space-around;
}

.S0-justify-content-flex-end {
  justify-content: flex-end;
}

.S0-justify-items-center {
  justify-items: center;
}

.S0-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.S0-columns-2 {
  columns: 2;
}

.S0-gap-4 {
  gap: 4px;
}

.S0-gap-6 {
  gap: 6px;
}

.S0-gap-8 {
  gap: 8px;
}

.S0-gap-16 {
  gap: 16px;
}

.S0-col-gap-4 {
  column-gap: 4px;
}

.S0-col-gap-6 {
  column-gap: 6px;
}

.S0-col-gap-10 {
  column-gap: 10px;
}

.S0-col-gap-12 {
  column-gap: 12px;
}

.S0-col-gap-20 {
  column-gap: 20px;
}

.S0-row-gap-0 {
  row-gap: 0px;
}

.S0-row-gap-4 {
  row-gap: 4px;
}

.S0-row-gap-6 {
  row-gap: 6px;
}

.S0-row-gap-8 {
  row-gap: 8px;
}

.S0-row-gap-10 {
  row-gap: 10px;
}

/* Typography */
.S0-font-bold {
  font-weight: bold;
}

.S0-font-monospace {
  font-family: monospace;
}

.S0-text-center {
  text-align: center;
}

.S0-text-start {
  text-align: start;
}

.S0-text-end {
  text-align: end;
}

.S0-text-10 {
  font-size: var(--font-size-10);
}

.S0-text-11 {
  font-size: var(--font-size-11);
}

.S0-text-12 {
  font-size: var(--font-size-12);
}

.S0-text-16 {
  font-size: var(--font-size-16);
}

.S0-text-24 {
  font-size: var(--font-size-24);
}

.S0-text-small {
  font-size: small;
}

.S0-text-x-small {
  font-size: x-small;
}

.S0-text-xx-small {
  font-size: xx-small;
}

.S0-italic {
  font-style: italic;
}

.S0-text-primary {
  color: var(--primary-color);
}

/* Spacing (Margin & Padding) */
.S0-m-0 {
  margin: 0;
}

.S0-m-2 {
  margin: 2px;
}

.S0-m-4 {
  margin: 4px;
}

.S0-mt-0 {
  margin-top: 0;
}

.S0-mt-2 {
  margin-top: 2px;
}

.S0-mt-4 {
  margin-top: 4px;
}

.S0-mt-6 {
  margin-top: 6px;
}

.S0-mt-8 {
  margin-top: 8px;
}

.S0-mt-10 {
  margin-top: 10px;
}

.S0-mb-2 {
  margin-bottom: 2px;
}

.S0-mb-4 {
  margin-bottom: 4px;
}

.S0-mb-6 {
  margin-bottom: 6px;
}

.S0-mb-8 {
  margin-bottom: 8px;
}

.S0-mb-16 {
  margin-bottom: 16px;
}

.S0-my-0 {
  margin-block: 0;
}

.S0-my-2 {
  margin-block: 2px;
}

.S0-my-4 {
  margin-block: 4px;
}

.S0-my-6 {
  margin-block: 6px;
}

.S0-my-8 {
  margin-block: 8px;
}

.S0-mx-0 {
  margin-inline: 0;
}

.S0-mx-2 {
  margin-inline: 2px;
}

.S0-mx-4 {
  margin-inline: 4px;
}

.S0-mx-6 {
  margin-inline: 6px;
}

.S0-mx-10 {
  margin-inline: 10px;
}

.S0-ml-4 {
  margin-left: 4px;
}

.S0-ml-10 {
  margin-left: 10px;
}

.S0-mr-4 {
  margin-right: 4px;
}

.S0-p-0 {
  padding: 0;
}

.S0-pt-0 {
  padding-top: 0;
}

.S0-p-2 {
  padding: 2px;
}

.S0-p-4 {
  padding: 4px;
}

.S0-p-6 {
  padding: 6px;
}

.S0-p-8 {
  padding: 8px;
}

.S0-py-2 {
  padding-block: 2px;
}

.S0-py-4 {
  padding-block: 4px;
}

.S0-py-8 {
  padding-block: 8px;
}

.S0-px-4 {
  padding-inline: 4px;
}

.S0-px-6 {
  padding-inline: 6px;
}

.S0-px-8 {
  padding-inline: 8px;
}

.S0-px-16 {
  padding-inline: 16px;
}

.S0-px-20 {
  padding-inline: 20px;
}

.S0-pl-4 {
  padding-left: 4px;
}

.S0-pl-8 {
  padding-left: 8px;
}

.S0-pl-16 {
  padding-left: 16px;
}

/* Sizing */
.S0-w-full {
  width: 100%;
}

.S0-w-20 {
  width: 20px;
}

.S0-w-40 {
  width: 40px;
}

.S0-w-128 {
  width: 128px;
}

.S0-w-calc-30 {
  width: calc(100% - 30px);
}

.S0-h-full {
  height: 100%;
}

.S0-h-35 {
  height: 35px;
}

.S0-h-40 {
  height: 40px;
}

.S0-h-128 {
  height: 128px;
}

.S0-h-304 {
  height: 304px;
}

.S0-max-h-128 {
  max-height: 128px;
}

.S0-max-h-138 {
  max-height: 138px;
}

.S0-max-h-304 {
  max-height: 304px;
}

.S0-max-h-330 {
  max-height: 330px;
}

.S0-max-h-370 {
  max-height: 370px;
}

.S0-min-h-370 {
  min-height: 370px;
}

.S0-x-small-input-height {
  height: 0.5rem;
}

.S0-small-input-height {
  height: 0.8rem;
}

.S0-medium-input-height {
  height: 1rem;
}

.S0-max-w-110 {
  max-width: 110px;
}

.S0-max-w-160 {
  max-width: 160px;
}

.S0-max-w-170 {
  max-width: 170px;
}

.S0-max-w-250 {
  max-width: 250px;
}

.S0-max-w-max {
  max-width: max-content;
}

.S0-min-w-0 {
  min-width: 0;
}

.S0-min-w-72 {
  min-width: 72px;
}

.S0-min-w-85 {
  min-width: 85px;
}

.S0-min-w-300 {
  min-width: 300px;
}

.S0-min-h-1 {
  min-height: 1px;
}

.S0-min-h-35 {
  min-height: 35px;
}

.S0-min-h-88 {
  min-height: 88px;
}

.S0-min-h-150 {
  min-height: 150px;
}

.S0-aspect-1 {
  aspect-ratio: 1;
}

/* Borders, Radius, Colors & Filters */
.S0-border-b-secondary {
  border-bottom: var(--border-thin) solid var(--secondary-color);
}

.S0-border-b-secondary-alpha {
  border-bottom: var(--border-thin) solid var(--secondary-color-alpha);
}

.S0-border-none {
  border: none;
}

.S0-border-0 {
  border-width: 0px;
}

.S0-border-thin {
  border-width: var(--border-thin);
}

.S0-border-medium {
  border-width: var(--border-medium);
}

.S0-border-large {
  border-width: var(--border-large);
}

.S0-border-primary {
  border-color: var(--primary-color);
}

.S0-border-primary-alpha {
  border-color: var(--primary-color-alpha);
}

.S0-border-primary-alpha-50 {
  border-color: var(--primary-color-alpha-50);
}

.S0-rounded-large {
  border-radius: var(--border-radius-large);
}

.S0-border-solid {
  border-style: solid;
}

.S0-border-ridge {
  border-style: ridge;
}

.S0-border-radius-30px-0px {
  border-radius: 30px 0px;
}

.S0-shadow-primary {
  text-shadow: 0 0 6px var(--primary-color-alpha);
}

.S0-text-shadow-none {
  text-shadow: none;
}

.S0-text-red {
  color: var(--color-red);
}

/* Overflow, Position & Misc */
.S0-hidden {
  display: none;
}

.S0-overflow-hidden {
  overflow: hidden;
}

.S0-overflow-y-scroll {
  overflow-y: scroll;
}

.S0-resize-block {
  resize: both;
  overflow: hidden;
}

.S0-nav-content {
  display: block;
  flex: 1;
}

.S0-overflow-auto {
  overflow: auto;
}

.S0-overflow-y-auto {
  overflow-y: auto;
}

.S0-relative {
  position: relative;
}

.S0-absolute {
  position: absolute;
}

.S0-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.S0-whitespace-pre-wrap {
  white-space: pre-wrap;
}

.S0-resize-none {
  resize: none;
}

.S0-object-contain {
  object-fit: contain;
}

.S0-object-cover {
  object-fit: cover;
}

.S0-object-position-top {
  object-position: top;
}

.S0-pointer-events-none {
  pointer-events: none;
}

.S0-list-disclosure-closed {
  list-style-type: disclosure-closed;
}

.S0-list-disclosure-open {
  list-style-type: disclosure-open;
}

.S0-bg-primary-alpha-50 {
  background-color: var(--primary-color-alpha-50);
}

.S0-bg-secondary-alpha-50 {
  background-color: var(--secondary-color-alpha-50);
}

.S0-bg-tertiary-alpha-50 {
  background-color: var(--tertiary-color-alpha-50);
}

.S0-drag-over {
  background-color: var(--tertiary-color-alpha);
}